In [131]:
import sqlalchemy

In [132]:
print(sqlalchemy.__version__)

1.1.12

In [133]:
from sqlalchemy import create_engine

In [134]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [135]:
print(engine.execute("select 1").scalar())

2017-07-28 20:38:19,530 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2017-07-28 20:38:19,537 INFO sqlalchemy.engine.base.Engine ()
2017-07-28 20:38:19,539 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2017-07-28 20:38:19,543 INFO sqlalchemy.engine.base.Engine ()
2017-07-28 20:38:19,550 INFO sqlalchemy.engine.base.Engine select 1
2017-07-28 20:38:19,554 INFO sqlalchemy.engine.base.Engine ()
1

In [136]:
from sqlalchemy.ext.declarative import declarative_base

In [137]:
Base = declarative_base()

In [97]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [138]:
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=50), table=<users>), Column('fullname', String(length=50), table=<users>), Column('password', String(length=12), table=<users>), schema=None)

In [139]:
User.__mapper__

In [140]:
Base.metadata.create_all(engine)

In [141]:
Column(String(50))

Column(None, String(length=50), table=None)

In [142]:
from sqlalchemy import Sequence
Column(Integer, Sequence('user_id_seq'), primary_key = True)

Column(None, Integer(), table=None, primary_key=True, nullable=False, default=Sequence('user_id_seq'))

In [143]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String(50))
    fullname = Column(String(50))
    password = Column(String(12))
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [144]:
Base.metadata.create_all(engine)

2017-07-28 20:38:29,027 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-07-28 20:38:29,037 INFO sqlalchemy.engine.base.Engine ()
2017-07-28 20:38:29,040 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	password VARCHAR(12),
	PRIMARY KEY (id)
)


2017-07-28 20:38:29,042 INFO sqlalchemy.engine.base.Engine ()
2017-07-28 20:38:29,049 INFO sqlalchemy.engine.base.Engine COMMIT

In [145]:
#making Session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [146]:
Session = sessionmaker()

In [147]:
Session.configure(bind=engine)

In [148]:
session = Session()

In [149]:
#add-new 
ed_user = User('haruair','yoonjin kim','1234')
session.add(ed_user)

In [150]:
our_user = session.query(User).filter_by(name='haruair').first()
our_user

2017-07-28 20:38:33,489 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-28 20:38:33,500 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-28 20:38:33,502 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim', '1234')
2017-07-28 20:38:33,508 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-07-28 20:38:33,517 INFO sqlalchemy.engine.base.Engine ('haruair', 1, 0)

In [151]:
ed_user is our_user

True

In [152]:
session.add_all([
    User('wendy', 'Wendy Williams', 'foobar'),
    User('mary', 'Mary Contrary', 'xxg527'),
    User('fred', 'Fred Flinstone', 'blar')])

In [153]:
ed_user.password = 'test1234'

In [154]:
session.dirty

IdentitySet([<User('haruair','yoonjin kim','test1234')>])

In [155]:
session.new

IdentitySet([<User('fred','Fred Flinstone','blar')>, <User('mary','Mary Contrary','xxg527')>, <User('wendy','Wendy Williams','foobar')>])

In [157]:
session.commit()

2017-07-28 20:39:10,351 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2017-07-28 20:39:10,360 INFO sqlalchemy.engine.base.Engine ('test1234', 1)
2017-07-28 20:39:10,368 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-28 20:39:10,372 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-07-28 20:39:10,378 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-28 20:39:10,380 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-07-28 20:39:10,391 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-28 20:39:10,399 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blar')
2017-07-28 20:39:10,407 INFO sqlalchemy.engine.base.Engine COMMIT

In [159]:
#rollback
ed_user.name = 'edkim'

In [160]:
#making fake_user
fake_user = User('fakeuser', 'Invalid', '12345')
session.add(fake_user)

In [161]:
session.query(User).filter(User.name.in_(['edkim', 'fakeuser'])).all()

2017-07-28 20:40:04,264 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-28 20:40:04,274 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-07-28 20:40:04,278 INFO sqlalchemy.engine.base.Engine (1,)
2017-07-28 20:40:04,282 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2017-07-28 20:40:04,293 INFO sqlalchemy.engine.base.Engine ('edkim', 1)
2017-07-28 20:40:04,298 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-28 20:40:04,305 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2017-07-28 20:40:04,319 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2017-07-28 20:40:04,324 INFO sqlalchemy.engine.base.Engine ('edkim', 'fakeuser')

[<User('edkim','yoonjin kim','test1234')>,
 <User('fakeuser','Invalid','12345')>]

In [164]:
session.rollback()
ed_user.name #'haruair'
fake_user in session

2017-07-28 20:40:51,367 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-07-28 20:40:51,379 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-28 20:40:51,394 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-07-28 20:40:51,396 INFO sqlalchemy.engine.base.Engine (1,)

False

In [166]:
#query
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2017-07-28 20:41:43,590 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-07-28 20:41:43,597 INFO sqlalchemy.engine.base.Engine ()
haruair yoonjin kim
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [167]:
for row in session.query(User,User.name).all():
    print(row.User, row.name)

2017-07-28 20:42:21,757 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-07-28 20:42:21,766 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')> haruair
<User('wendy','Wendy Williams','foobar')> wendy
<User('mary','Mary Contrary','xxg527')> mary
<User('fred','Fred Flinstone','blar')> fred

In [173]:
for row in session.query(User.name.label('name_label')).all():
    print (row.name_label)

2017-07-28 20:45:21,825 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-07-28 20:45:21,831 INFO sqlalchemy.engine.base.Engine ()
haruair
wendy
mary
fred

In [174]:
from sqlalchemy.orm import aliased
user_alias = aliased(User, name='user_alias')
for row in session.query(user_alias, user_alias.name).all():
    print (row.user_alias)

2017-07-28 20:47:09,112 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-07-28 20:47:09,128 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')>
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>
<User('fred','Fred Flinstone','blar')>

In [175]:
for user in session.query(User).order_by(User.id)[1:3]:
    print(user)

2017-07-28 20:49:59,785 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2017-07-28 20:49:59,794 INFO sqlalchemy.engine.base.Engine (2, 1)
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>

In [177]:
for name in session.query(User.name).filter(User.fullname == 'yoonjin jim'):
    print(name)

2017-07-28 21:32:24,256 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2017-07-28 21:32:24,266 INFO sqlalchemy.engine.base.Engine ('yoonjin jim',)

In [181]:
for name in session.query(User).\
filter(User.name == 'haruair').\
filter(User.fullname == 'yoonjin kim'):
    
    print(user)

2017-07-28 23:10:36,440 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2017-07-28 23:10:36,454 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim')
<User('mary','Mary Contrary','xxg527')>