In [1]:
import sqlalchemy

In [2]:
print(sqlalchemy.__version__)#버전확인하

1.0.11

In [3]:
#접속하기
from sqlalchemy import create_engine

In [35]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [36]:
print(engine.execute("select 1").scalar())

2017-08-02 16:12:26,067 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1

2017-08-02 16:12:26,068 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2017-08-02 16:12:26,070 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1

2017-08-02 16:12:26,071 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2017-08-02 16:12:26,072 INFO sqlalchemy.engine.base.Engine select 1

INFO:sqlalchemy.engine.base.Engine:select 1

2017-08-02 16:12:26,073 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

1

In [6]:
#매핑선언
from sqlalchemy.ext.declarative import declarative_base

In [7]:
Base = declarative_base()

In [97]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [14]:
#metadata
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=50), table=<users>), Column('fullname', String(length=50), table=<users>), Column('password', String(length=12), table=<users>), schema=None)

In [15]:
#mapp3er class
User.__mapper__

In [16]:
Base.metadata.create_all(engine)

2017-08-02 16:11:46,442 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2017-08-02 16:11:46,443 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2017-08-02 16:11:46,446 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	password VARCHAR(12),
	PRIMARY KEY (id)
)

INFO:sqlalchemy.engine.base.Engine:
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	password VARCHAR(12),
	PRIMARY KEY (id)
)

2017-08-02 16:11:46,447 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2017-08-02 16:11:46,448 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [17]:
#sqlite or postgresql varchar 컬럼의 길이를 설정하지 않아도 문제없음
#그 외 데베에서는 허용안됨. 
#그러므로 컬럼 길이가 필요한 데베의 경우 length가 필요
Column(String(50))

Column(None, String(length=50), table=None)

In [18]:
#PK를 생성하기위해 sequence가 필요
from sqlalchemy import Sequence
Column(Integer, Sequence('user_id_seq'), primary_key = True)

Column(None, Integer(), table=None, primary_key=True, nullable=False, default=Sequence('user_id_seq'))

In [13]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String(50))
    fullname = Column(String(50))
    password = Column(String(12))
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [19]:
Base.metadata.create_all(engine)

2017-08-02 16:11:50,971 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")

INFO:sqlalchemy.engine.base.Engine:PRAGMA table_info("users")

2017-08-02 16:11:50,972 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

In [20]:
#making Session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [21]:
Session = sessionmaker()

In [22]:
Session.configure(bind=engine)

In [23]:
session = Session()

In [24]:
#새 객체 추가하
ed_user = User('haruair','yoonjin kim','1234')
session.add(ed_user)

In [25]:
#user 인스턴스를 로드해 query객체 생성
our_user = session.query(User).filter_by(name='haruair').first()
our_user

2017-08-02 16:11:56,488 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2017-08-02 16:11:56,490 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2017-08-02 16:11:56,492 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim', '1234')

INFO:sqlalchemy.engine.base.Engine:('haruair', 'yoonjin kim', '1234')

2017-08-02 16:11:56,495 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?

2017-08-02 16:11:56,496 INFO sqlalchemy.engine.base.Engine ('haruair', 1, 0)

INFO:sqlalchemy.engine.base.Engine:('haruair', 1, 0)

In [26]:
#session은 내부적으로 맵구조의 객체
#반환하는 값이 우리가 기존에 집어넣은 인스턴스와 동일
ed_user is our_user

True

In [27]:
#add.all로 한방에 추가
session.add_all([
    User('wendy', 'Wendy Williams', 'foobar'),
    User('mary', 'Mary Contrary', 'xxg527'),
    User('fred', 'Fred Flinstone', 'blar')])

In [28]:
ed_user.password = 'test1234'

In [29]:
session.dirty

IdentitySet([<User('haruair','yoonjin kim','test1234')>])

In [30]:
#새로 추가한 애들 보
session.new

IdentitySet([<User('fred','Fred Flinstone','blar')>, <User('mary','Mary Contrary','xxg527')>, <User('wendy','Wendy Williams','foobar')>])

In [31]:
session.commit()

2017-08-02 16:12:08,414 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET password=? WHERE users.id = ?

2017-08-02 16:12:08,415 INFO sqlalchemy.engine.base.Engine ('test1234', 1)

INFO:sqlalchemy.engine.base.Engine:('test1234', 1)

2017-08-02 16:12:08,416 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2017-08-02 16:12:08,417 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')

INFO:sqlalchemy.engine.base.Engine:('wendy', 'Wendy Williams', 'foobar')

2017-08-02 16:12:08,418 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2017-08-02 16:12:08,419 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')

INFO:sqlalchemy.engine.base.Engine:('mary', 'Mary Contrary', 'xxg527')

2017-08-02 16:12:08,421 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2017-08-02 16:12:08,422 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blar')

INFO:sqlalchemy.engine.base.Engine:('fred', 'Fred Flinstone', 'blar')

2017-08-02 16:12:08,423 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [32]:
#rollback
ed_user.name = 'edkim'

In [33]:
#making fake_user
fake_user = User('fakeuser', 'Invalid', '12345')
session.add(fake_user)

In [34]:
session.query(User).filter(User.name.in_(['edkim', 'fakeuser'])).all()

2017-08-02 16:12:13,338 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2017-08-02 16:12:13,340 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?

2017-08-02 16:12:13,341 INFO sqlalchemy.engine.base.Engine (1,)

INFO:sqlalchemy.engine.base.Engine:(1,)

2017-08-02 16:12:13,343 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?

INFO:sqlalchemy.engine.base.Engine:UPDATE users SET name=? WHERE users.id = ?

2017-08-02 16:12:13,344 INFO sqlalchemy.engine.base.Engine ('edkim', 1)

INFO:sqlalchemy.engine.base.Engine:('edkim', 1)

2017-08-02 16:12:13,346 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)

2017-08-02 16:12:13,347 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')

INFO:sqlalchemy.engine.base.Engine:('fakeuser', 'Invalid', '12345')

2017-08-02 16:12:13,349 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)

INFO:sqlalchemy.engine.base.Engine:SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)

2017-08-02 16:12:13,351 INFO sqlalchemy.engine.base.Engine ('edkim', 'fakeuser')

INFO:sqlalchemy.engine.base.Engine:('edkim', 'fakeuser')

[<User('edkim','yoonjin kim','test1234')>,
 <User('fakeuser','Invalid','12345')>]

In [75]:
session.rollback()
ed_user.name #'haruair'
fake_user in session

2017-07-30 13:50:51,802 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-07-30 13:50:51,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-30 13:50:51,804 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-07-30 13:50:51,804 INFO sqlalchemy.engine.base.Engine (1,)

False

In [76]:
#query 보내기
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2017-07-30 13:50:52,650 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-07-30 13:50:52,651 INFO sqlalchemy.engine.base.Engine ()
haruair yoonjin kim
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [77]:
for row in session.query(User,User.name).all():
    print(row.User, row.name)

2017-07-30 13:50:53,202 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-07-30 13:50:53,203 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')> haruair
<User('wendy','Wendy Williams','foobar')> wendy
<User('mary','Mary Contrary','xxg527')> mary
<User('fred','Fred Flinstone','blar')> fred

In [78]:
for row in session.query(User.name.label('name_label')).all():
    print (row.name_label)

2017-07-30 13:50:55,218 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-07-30 13:50:55,218 INFO sqlalchemy.engine.base.Engine ()
haruair
wendy
mary
fred

In [79]:
#user같은 클래스 엔티티는 aliased를 이용해 제어할 수 있음
from sqlalchemy.orm import aliased
user_alias = aliased(User, name='user_alias')
for row in session.query(user_alias, user_alias.name).all():
    print (row.user_alias)

2017-07-30 13:50:56,076 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-07-30 13:50:56,077 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')>
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>
<User('fred','Fred Flinstone','blar')>

In [80]:
for user in session.query(User).order_by(User.id)[1:3]:
    print(user)

2017-07-30 13:50:57,186 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2017-07-30 13:50:57,187 INFO sqlalchemy.engine.base.Engine (2, 1)
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>

In [85]:
for name in session.query(User.name).filter(User.fullname == 'yoonjin kim'):
    print(name)

2017-07-30 13:51:43,673 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2017-07-30 13:51:43,674 INFO sqlalchemy.engine.base.Engine ('yoonjin kim',)
('haruair',)

In [86]:
for name in session.query(User).\
filter(User.name == 'haruair').\
filter(User.fullname == 'yoonjin kim'):
    
    print(user)

2017-07-30 13:51:44,394 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2017-07-30 13:51:44,395 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim')
<User('mary','Mary Contrary','xxg527')>

In [1]:
#start part.2

In [2]:
query = session.query(User).filter(User.name.like('%air')).order_by(User.id)

NameError: name 'session' is not defined