In [42]:
import sqlalchemy

In [43]:
print(sqlalchemy.__version__)#버전확인하

1.1.9

In [44]:
#접속하기
from sqlalchemy import create_engine

In [45]:
engine = create_engine('sqlite:///:memory:', echo=True)

In [48]:
print(engine.execute("select 1").scalar())

2017-07-30 13:50:18,819 INFO sqlalchemy.engine.base.Engine select 1
2017-07-30 13:50:18,819 INFO sqlalchemy.engine.base.Engine ()
1

In [50]:
#매핑선언
from sqlalchemy.ext.declarative import declarative_base

In [52]:
Base = declarative_base()

In [97]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String)
    fullname = Column(String)
    password = Column(String)
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [53]:
#metadata
User.__table__

Table('users', MetaData(bind=None), Column('id', Integer(), table=<users>, primary_key=True, nullable=False), Column('name', String(length=50), table=<users>), Column('fullname', String(length=50), table=<users>), Column('password', String(length=12), table=<users>), schema=None)

In [54]:
#mapp3er class
User.__mapper__

In [55]:
Base.metadata.create_all(engine)

In [56]:
#sqlite or postgresql varchar 컬럼의 길이를 설정하지 않아도 문제없음
#그 외 데베에서는 허용안됨. 
#그러므로 컬럼 길이가 필요한 데베의 경우 length가 필요
Column(String(50))

Column(None, String(length=50), table=None)

In [57]:
#PK를 생성하기위해 sequence가 필요
from sqlalchemy import Sequence
Column(Integer, Sequence('user_id_seq'), primary_key = True)

Column(None, Integer(), table=None, primary_key=True, nullable=False, default=Sequence('user_id_seq'))

In [58]:
from sqlalchemy import Column, Integer, String
class User(Base):
    __tablename__ = 'users'
    id = Column(Integer,primary_key =True)
    name = Column(String(50))
    fullname = Column(String(50))
    password = Column(String(12))
    #init&repr
    
    def __init__(self, name, fullname, password):
        self.name = name
        self.fullname = fullname
        self.password = password
    def __repr__(self):
        return "<User('%s','%s','%s')>" % (self.name, self.fullname, self.password)

In [59]:
Base.metadata.create_all(engine)

2017-07-30 13:50:42,665 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("users")
2017-07-30 13:50:42,666 INFO sqlalchemy.engine.base.Engine ()
2017-07-30 13:50:42,667 INFO sqlalchemy.engine.base.Engine
CREATE TABLE users (
	id INTEGER NOT NULL,
	name VARCHAR(50),
	fullname VARCHAR(50),
	password VARCHAR(12),
	PRIMARY KEY (id)
)


2017-07-30 13:50:42,667 INFO sqlalchemy.engine.base.Engine ()
2017-07-30 13:50:42,668 INFO sqlalchemy.engine.base.Engine COMMIT

In [60]:
#making Session
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)

In [61]:
Session = sessionmaker()

In [62]:
Session.configure(bind=engine)

In [63]:
session = Session()

In [64]:
#새 객체 추가하
ed_user = User('haruair','yoonjin kim','1234')
session.add(ed_user)

In [65]:
#user 인스턴스를 로드해 query객체 생성
our_user = session.query(User).filter_by(name='haruair').first()
our_user

2017-07-30 13:50:45,578 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-30 13:50:45,579 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-30 13:50:45,580 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim', '1234')
2017-07-30 13:50:45,581 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ?
 LIMIT ? OFFSET ?
2017-07-30 13:50:45,581 INFO sqlalchemy.engine.base.Engine ('haruair', 1, 0)

In [66]:
#session은 내부적으로 맵구조의 객체
#반환하는 값이 우리가 기존에 집어넣은 인스턴스와 동일
ed_user is our_user

True

In [67]:
#add.all로 한방에 추가
session.add_all([
    User('wendy', 'Wendy Williams', 'foobar'),
    User('mary', 'Mary Contrary', 'xxg527'),
    User('fred', 'Fred Flinstone', 'blar')])

In [68]:
ed_user.password = 'test1234'

In [69]:
session.dirty

IdentitySet([<User('haruair','yoonjin kim','test1234')>])

In [70]:
#새로 추가한 애들 보
session.new

IdentitySet([<User('wendy','Wendy Williams','foobar')>, <User('mary','Mary Contrary','xxg527')>, <User('fred','Fred Flinstone','blar')>])

In [71]:
session.commit()

2017-07-30 13:50:49,266 INFO sqlalchemy.engine.base.Engine UPDATE users SET password=? WHERE users.id = ?
2017-07-30 13:50:49,267 INFO sqlalchemy.engine.base.Engine ('test1234', 1)
2017-07-30 13:50:49,267 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-30 13:50:49,268 INFO sqlalchemy.engine.base.Engine ('wendy', 'Wendy Williams', 'foobar')
2017-07-30 13:50:49,268 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-30 13:50:49,269 INFO sqlalchemy.engine.base.Engine ('mary', 'Mary Contrary', 'xxg527')
2017-07-30 13:50:49,269 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-30 13:50:49,270 INFO sqlalchemy.engine.base.Engine ('fred', 'Fred Flinstone', 'blar')
2017-07-30 13:50:49,270 INFO sqlalchemy.engine.base.Engine COMMIT

In [72]:
#rollback
ed_user.name = 'edkim'

In [73]:
#making fake_user
fake_user = User('fakeuser', 'Invalid', '12345')
session.add(fake_user)

In [74]:
session.query(User).filter(User.name.in_(['edkim', 'fakeuser'])).all()

2017-07-30 13:50:51,184 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-30 13:50:51,185 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-07-30 13:50:51,186 INFO sqlalchemy.engine.base.Engine (1,)
2017-07-30 13:50:51,187 INFO sqlalchemy.engine.base.Engine UPDATE users SET name=? WHERE users.id = ?
2017-07-30 13:50:51,188 INFO sqlalchemy.engine.base.Engine ('edkim', 1)
2017-07-30 13:50:51,188 INFO sqlalchemy.engine.base.Engine INSERT INTO users (name, fullname, password) VALUES (?, ?, ?)
2017-07-30 13:50:51,189 INFO sqlalchemy.engine.base.Engine ('fakeuser', 'Invalid', '12345')
2017-07-30 13:50:51,190 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name IN (?, ?)
2017-07-30 13:50:51,191 INFO sqlalchemy.engine.base.Engine ('edkim', 'fakeuser')

[<User('edkim','yoonjin kim','test1234')>,
 <User('fakeuser','Invalid','12345')>]

In [75]:
session.rollback()
ed_user.name #'haruair'
fake_user in session

2017-07-30 13:50:51,802 INFO sqlalchemy.engine.base.Engine ROLLBACK
2017-07-30 13:50:51,803 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2017-07-30 13:50:51,804 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.id = ?
2017-07-30 13:50:51,804 INFO sqlalchemy.engine.base.Engine (1,)

False

In [76]:
#query 보내기
for instance in session.query(User).order_by(User.id):
    print(instance.name, instance.fullname)

2017-07-30 13:50:52,650 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
2017-07-30 13:50:52,651 INFO sqlalchemy.engine.base.Engine ()
haruair yoonjin kim
wendy Wendy Williams
mary Mary Contrary
fred Fred Flinstone

In [77]:
for row in session.query(User,User.name).all():
    print(row.User, row.name)

2017-07-30 13:50:53,202 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
2017-07-30 13:50:53,203 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')> haruair
<User('wendy','Wendy Williams','foobar')> wendy
<User('mary','Mary Contrary','xxg527')> mary
<User('fred','Fred Flinstone','blar')> fred

In [78]:
for row in session.query(User.name.label('name_label')).all():
    print (row.name_label)

2017-07-30 13:50:55,218 INFO sqlalchemy.engine.base.Engine SELECT users.name AS name_label
FROM users
2017-07-30 13:50:55,218 INFO sqlalchemy.engine.base.Engine ()
haruair
wendy
mary
fred

In [79]:
#user같은 클래스 엔티티는 aliased를 이용해 제어할 수 있음
from sqlalchemy.orm import aliased
user_alias = aliased(User, name='user_alias')
for row in session.query(user_alias, user_alias.name).all():
    print (row.user_alias)

2017-07-30 13:50:56,076 INFO sqlalchemy.engine.base.Engine SELECT user_alias.id AS user_alias_id, user_alias.name AS user_alias_name, user_alias.fullname AS user_alias_fullname, user_alias.password AS user_alias_password
FROM users AS user_alias
2017-07-30 13:50:56,077 INFO sqlalchemy.engine.base.Engine ()
<User('haruair','yoonjin kim','test1234')>
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>
<User('fred','Fred Flinstone','blar')>

In [80]:
for user in session.query(User).order_by(User.id)[1:3]:
    print(user)

2017-07-30 13:50:57,186 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users ORDER BY users.id
 LIMIT ? OFFSET ?
2017-07-30 13:50:57,187 INFO sqlalchemy.engine.base.Engine (2, 1)
<User('wendy','Wendy Williams','foobar')>
<User('mary','Mary Contrary','xxg527')>

In [85]:
for name in session.query(User.name).filter(User.fullname == 'yoonjin kim'):
    print(name)

2017-07-30 13:51:43,673 INFO sqlalchemy.engine.base.Engine SELECT users.name AS users_name
FROM users
WHERE users.fullname = ?
2017-07-30 13:51:43,674 INFO sqlalchemy.engine.base.Engine ('yoonjin kim',)
('haruair',)

In [86]:
for name in session.query(User).\
filter(User.name == 'haruair').\
filter(User.fullname == 'yoonjin kim'):
    
    print(user)

2017-07-30 13:51:44,394 INFO sqlalchemy.engine.base.Engine SELECT users.id AS users_id, users.name AS users_name, users.fullname AS users_fullname, users.password AS users_password
FROM users
WHERE users.name = ? AND users.fullname = ?
2017-07-30 13:51:44,395 INFO sqlalchemy.engine.base.Engine ('haruair', 'yoonjin kim')
<User('mary','Mary Contrary','xxg527')>